services:
  gh-pages:
    build: .
    environment:
    - JEKYLL_ENV=development
    image: gh-pages
    command: sh -c "jekyll serve --watch --force_polling -H 0.0.0.0 -P 4000"
    volumes:
    - .:/src/site
    ports:
    - 4000:4000
