<link rel="stylesheet" href="{{ include.unity_embed }}/TemplateData/style.css">
<div id="unity-container">
<div id="unity-canvas-container">
{% if include.header == "true" %}
<canvas id="unity-canvas" style="width: 100%; height: 75vh; pointer-events: none"></canvas>
{% else %}
<canvas id="unity-canvas" style="width: 100%; height: 100%"></canvas>
{% endif %}
</div>
<div id="unity-loading-bar">
<div id="unity-logo"></div>
<div id="unity-progress-bar-empty">
    <div id="unity-progress-bar-full"></div>
</div>
</div>
{% if include.header == "true" %}
    {% capture display_footer %} style="display: none"{% endcapture %}
{% endif %}
<div id="unity-warning"> </div>
<div id="unity-footer" {{ display_footer }}>
    <div id="unity-logo-title-footer" {{ display_footer }}></div>
    <div id="unity-fullscreen-button" {{ display_footer }}></div>
    <div id="unity-build-title" {{ display_footer }}></div>
</div>
</div>
<script async src="{{ include.unity_embed }}/script.js" charset="utf-8"></script>
